:root {
  --blue: #ebebeb;
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
  --size: 0.8rem;
  font-size: 16px;
}
*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}
/* @media (max-width: 520px) {
  :root {
    font-size: 14px;
  }
} */

.pages {
  min-height: 100vh !important;
  overflow: auto;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  background-color: var(--blue);
  color: var(--clr-light);
}

.logout-btn {
  float: right;
  margin: var(--size);
  padding: var(--size);
  font-size: inherit;
  font-weight: inherit;
  color: var(--clr-light);
  background: lightcoral;
  outline: none;
  border: none;
}

.title {
  text-align: center;
  font-size: calc(36px + (56 - 36) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 900;
  color: var(--clr-dark);
  letter-spacing: 1px;
}

.input-form {
  background: transparent;
  border: 0;
  color: var(--clr-dark);
  border-bottom: 1px solid currentColor;
  font-size: 1.1rem;
  width: 170rem;
  outline: none;
  transition: border-bottom 150ms ease-in;
  order: 2;
}
.input-form:focus,
.react-datepicker__input-container input:focus {
  border-bottom-width: 2px;
}
.input-form:focus::placeholder {
  opacity: 0.3;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 9rem;
  order: 3;
  /* border: 0; */
  font-size: 1rem;
  text-align: center;
  outline: none;
  padding-left: 0.3rem;
  height: 2.7rem;
  background: var(--clr-light);
}
.react-datepicker__input-container input {
  border-bottom: 1px solid currentColor;
}
@media (max-width: 436px) {
  .input-form {
    width: 11rem;
  }
  .react-datepicker-wrapper,
  .react-datepicker__input-container,
  .react-datepicker__input-container input {
    width: 5rem;
  }
}

.todo-list {
  --spacer: 2rem;
  background: var(--clr-light);
  color: var(--clr-dark);
  min-width: 250px;
  max-width: 700px;
  /* align center vertically and hortizontally */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.todo-header {
  padding: var(--spacer);
  background: #acc4e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-title {
  margin: 0 1em 0 0;
}

.log-out-btn {
  margin: 0;
  font-size: 1.6rem;
  color: #ca0000;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}
.todo-body {
  padding: var(--spacer);
}

.add-todo-form {
  display: flex;
}
.date {
  padding-left: 1rem;
}
/* .date-time {
  order: 3;
  display: flex;
} */
/* .react-datepicker-wrapper {
  position: relative;
  padding-top: 1rem !important;
  height: 3rem;
  border: 0;
  width: 154px !important;
  display: flex;
  order: 3;
  outline: none;
  justify-content: space-between;
  align-content: flex-end;
} */
/* .react-datepicker__input-container {
  position: relative;
  display: inline;
} */
/* .react-datepicker__input-container input {
  outline: none;
  width: 9rem;
  padding: 0.5rem;
  font-size: 1rem;
  height: 3rem;
  position: relative;
  top: -2rem;
  left: 0.4rem;
  background: var(--clr-light);
} */
/* @media (max-width: 430px) {
  .react-datepicker-wrapper,
  .react-datepicker__input-container,
  .react-datepicker__input-container input {
    width: 100%;
  }
} */
.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  /* padding: 0; */
  color: inherit;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0.25em;
  transition: opacity 250ms ease-in;
  align-items: flex-end;
}
.trash {
  align-items: flex-end;
}

.fa-trash {
  color: #ca0000;
  /* float: right; */
}
.btn:hover {
  opacity: 0.7;
}

[type='checkbox'] {
  display: inline-block;
  /* width: var(--size);
  height: var(--size); */
  margin-right: var(--size);
  cursor: pointer;
}

.task label {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.25em;
  justify-content: space-between;
}

.task label::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: -15%;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.task label div {
  display: flex;
}
/* tool tip from here  */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4.5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 1.5rem;
  left: 50%;
  margin-left: -2.5rem;
  font-size: 1rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
/* tool tip upto here  */

/* 
.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + .custom-checkbox {
  transform: scale(1.2);
  color: var(--blue);
}

[type="checkbox"]:checked + .custom-checkbox {
  background: var(--blue);
  border-color: var(--blue);
  box-shadow: inset 0 0 0 2px white;
}
[type="checkbox"]:checked + span + div {
  opacity: 0.5;
} */
